@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Event Planner</h1>
    <p class="lead">Some catchy phrase to introduce our supercool app.</p>
    @*<p><a href="#start" class="btn btn-primary btn-lg">Start now &raquo;</a></p>*@
    @Html.ActionLink("Start now", "Index", "EventOrganization", null, new {@class = "btn btn-primary btn-lg"})
</div>

<div class="row" id="start">
Welcome!
</div>