@model EventPlanner.Models.Models.Vote.EventViewModel

@{
    ViewBag.Title = "title";
}

<h2>Vote for @Model.Title</h2>
@*TODO: Display glyphicon-pencil redirecting to edit page, when current user is organizer or othersCanEditProperty is true*@
@if (Model.OthersCanEdit)
{
    @Html.ActionLink("Edit", "Index", "CreateEvent", new {id = Model.Id}, new {@class= "glyphicon glyphicon-pencil"})
}

<p class="text-muted">Created on: @Html.DisplayFor(m => m.Created)</p>

<label>Description:</label>
<div>@Model.Desc</div>

@using (Html.BeginForm("Index", "Vote", FormMethod.Post, new {@class = ""}))
{

    <div id="placesTable">
        @{Html.RenderPartial("DatesVotes", Model);}
    </div>

    <div id="timesTable">
        @{Html.RenderPartial("PlacesVotes", Model);}
    </div>

    <input type="submit" class="btn btn-primary" value="Submit your votes" />
}