/*
    Checkbox solution derived from 
    http://stackoverflow.com/questions/17541614/use-image-instead-of-radio-button
*/

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + i{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + i.yes-option{ /* (RADIO CHECKED) icon style for yes */
    color: #5cb85c;
}

label > input:checked + i.maybe-option{ /* (RADIO CHECKED) icon style for maybe */
    color: #f0ad4e;
}

label > input:checked + i.no-option{ /* (RADIO CHECKED) icon style for no */
    color: #d9534f;
}