@model EventPlanner.Models.Models.ShareLinkModel

@{
    ViewBag.Title = "Share your event";
}

<h2>Share your event</h2>


@Html.TextBox("URL", Model.Link, new {@class="form-control", id = "clipboard"})

@Html.ActionLink("Vote", "Index", "Vote", new {id = Model.EventHash}, new {@class="btn btn-primary btn-large"})
