@model EventPlanner.Models.Models.Share.ShareLinkViewModel

@{
    ViewBag.Title = "Share your event";
}


@*This div is for FB sharing purposes*@
<div id="fb-root"></div>

<h2>Share your event</h2>
<p class="">Copy this link and share it with your friends, so they can vote for their favourite option.</p>

<div class="row">
    <div class="col-md-5">
        @Html.TextBox("URL", Model.Link, new { @class = "form-control wide-input", id = "clipboard", onClick = "this.select();" })
    </div>
    
        @*<div class="col-md-1">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy
            </button>            
        </div>*@
</div>

<h4 class="v-space40">Or share your event directly on Facebook:</h4>
<div class="fb-share-button" data-href="@Html.DisplayNameFor(model => model.Link)" data-layout="button"></div>

<hr />
@*<p class="v-space40">Now you can go to the voting page for your new event:</p>*@
<h2 class="v-space40">Go to voting page</h2>
<div class="">
    @Html.ActionLink("Vote for this event", "Index", "Vote", new { eventHash = Model.EventHash }, new { @class = "btn btn-primary btn-large" })
</div>


@section scripts
    {
        <script src="@Url.Content("~/Scripts/Custom/FacebookShareModule.js")"></script>
    }
