@model EventPlanner.Models.Models.Vote.EventViewModel

@{
    ViewBag.Title = "title";
}

<div class="content">
    <input id="1" name="in1"/>

    <button class="add">add</button>
</div>

@section scripts
{
    <script type="text/javascript">
        (function() {
            var element = $('#1').clone();

            var container = $('.content');
            var self = this;
            $('.add').click(function () {

                element.attr('id', element.attr('id') + 1);
                container.append(element);

            });
        })();
        

    </script>
}